<template>
  <ValidationObserver  v-slot="{ handleSubmit , invalid }">
      <form @submit.prevent="handleSubmit(saveProduct)">
            <div class="submit-form">
              <div v-if="!submitted">

                <div class="form-group">
                  <label for="title">Title</label>
                
                  <ValidationProvider name="title" rules="required" v-slot="{ errors }">
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        v-model="product.title"
                        name="title"
                      />
                      <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="form-group">
                  <label for="description">Description</label>
                  <ValidationProvider name="title" rules="required" v-slot="{ errors }">
                    <input
                      class="form-control"
                      id="description"
                      v-model="product.description"
                      name="description"
                    />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="form-group">
                  <label for="description">Price</label>
                  <ValidationProvider name="title" rules="required" v-slot="{ errors }">
                    <input
                      class="form-control"
                      id="price"
                      v-model="product.price"
                      name="price"
                    />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="widget-user-image">
                  <img width="200" class="img-circle" :src="getProductImage()" alt="product image">
                </div>

                <div class="form-group">
                    <label for="photo" class="col-sm-2 control-label">Product image</label>
                    <div class="col-sm-12">
                        <input type="file" 
                          @change="updateProfile" 
                          name="image" 
                          class="form-input"
                        >
                    </div>
                </div>

                <button type="submit" :disabled="invalid"  class="btn btn-success">Submit</button>
                <!-- <button type="reset" class="btn btn-success">Reset</button> -->
            </div>
            <div v-else>
              <h4>You submitted successfully!</h4>
              <button class="btn btn-success" @click="newProduct">Add</button>
            </div>
          </div>
      </form>
   </ValidationObserver>
</template>

<script>
import ProductDataService from "../services/ProductDataService";

export default {
  name: "add-product",
  data() {
    return {
      product: {
        id: null,
        title: "",
        description: "",
        price: "",
        image: ""
      },
      submitted: false
    };
  },
  methods: {
    saveProduct() {

        this.$Progress.start();

        var data = {
          title: this.product.title,
          description: this.product.description,
          price: this.product.price,
          image: this.product.image
        };

        ProductDataService.create(data)
        .then(response => {
          this.product.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          this.$Progress.finish();
          swal.fire(
            'Good job!',
            'You have succefully inserted the data!',
            'success'
          )
        })
        .catch(e => {
          console.log(e);
           this.$Progress.fail();
        });

        // Resetting Values
        this.product = {};
        this.product.image = [];

        
    },
    updateProfile(e){
        let file = e.target.files[0];
        let reader = new FileReader();

        let limit = 1024 * 1024 * 2;
        if(file['size'] > limit){
            swal({
                type: 'error',
                title: 'Oops...',
                text: 'You are uploading a large file',
            })
            return false;
        }

        reader.onloadend = (file) => {
            this.product.image = reader.result;
        }
        reader.readAsDataURL(file);
    },
    getProductImage(){
        let image = (this.product.image.length > 200) ? this.product.image : require('@/assets/image.png');
        return image;
    },
    newProduct() {
      this.submitted = false;
      this.product = {};
      this.product.image = [];
    }
  }
};
</script>

<style scoped>
.submit-form {
  max-width: 300px;
  margin: auto;
}

span {
  display: block;
}

</style>
