<template>
  <div class="submit-form">
    <div>
      <div class="form-group">
        <label for="username">User Name</label>
        <input
          type="text"
          class="form-control"
          id="username"
          required
          v-model="user.username"
          name="username"
        />
      </div>

      <div class="form-group">
        <label for="Password">Password</label>
        <input
          class="form-control"
          id="password"
          required
          v-model="user.password"
          name="password"
        />
      </div>

      <button @click="LoginUser" class="btn btn-success">Login</button>
    </div>
  </div>
</template>

<script>
import LoginDataService from "../services/LoginDataService";

export default {
  name: "login",
  data() {
    return {
      user: {
        username: null,
        password: ""
      }
    };
  },
  methods: {
    LoginUser() {
      var data = {
        username: this.user.username,
        password: this.user.password,
        grant_type: 'password',
        client_id: 4,
        client_secret: 'JViYxTSSaHhbhen0r9JVYUlDO1dPqf8LqpMocgxV',
      };

      LoginDataService.attempt(data)
        .then(response => {
          console.log(response.data);
          localStorage.setItem("token", response.data.access_token);
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>