<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          v-model="user.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          v-model="user.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="description">Password</label>
        <input
          class="form-control"
          id="password"
          required
          v-model="user.password"
          name="password"
        />
      </div>

      <div class="form-group">
        <label for="description">Confirm Password</label>
        <input
          class="form-control"
          id="c_password"
          required
          v-model="user.c_password"
          name="c_password"
        />
      </div>

      <button @click="saveUser" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newUser">Add new user</button>
    </div>
  </div>
</template>

<script>
import RegistrationDataService from "../services/RegistrationDataService";

export default {
  name: "registration",
  data() {
    return {
      user: {
        id: null,
        name: "",
        email: "",
        password: "",
        c_password: ""
      },
      submitted: false
    };
  },
  methods: {
    saveUser() {
      var data = {
        name: this.user.name,
        email: this.user.email,
        password: this.user.password,
        c_password: this.user.c_password,
      };

      RegistrationDataService.create(data)
        .then(response => {
          console.log(response.data);
          localStorage.setItem("token", response.data.data.token);
          
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newUser() {
      this.submitted = false;
      this.user = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>